{% extends 'app/base.html' %}
{% block content %}
    <div class="container center">
        <h1>Register for EdFund!</h1>
        {% if registered %}
            <h3>Thank you for registering</h3>
            <a href="{% url 'edfund:index' %}">Return to homepage</a>
        {% else %}
            <h2>Registration Form</h2>
            <form id="user_form" class="row col s12" method="post" action="{% url 'edfund:register' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field offset-s3 col s3">
                        {{ user_form.first_name }}
                        <label for="fname">First Name</label>
                    </div>
                    <div class="input-field col s3">
                        {{ user_form.last_name }}
                        <label for="lname">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field offset-s3 col s6 offset-s3">
                        {{ user_form.username }}
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field offset-s3 col s6 offset-s3">
                        {{ user_form.email }}
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field offset-s3 col s6 offset-s3">
                        {{ user_form.password }}
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" name="submit" class="btn-large waves-effect waves-light orange">Register!</button>
                </div>


            </form>
        {% endif %}
    </div>
{% endblock %}